.li {
    padding-bottom: 10px;
    font-size: 0.9rem;

    .liUsername {
        font-weight: 600;
        padding-right: 5px;
    }
}
.commentUl {
    .userComment {
        padding-bottom: 7px;
    }
    .loadComments {
        color: $dark-grey;
        font-size: $small-font-size;
        display: block;
        padding-bottom: 10px;
    }
}